<header>
<div class="herotext">
<p>Tesla was born in what is now Croatia on a summer night in 1856, during what he claimed was a lightning storm – which led the midwife to say, “He will be a child of the storm,” and his mother to counter prophetically, “No, of the light.” As a student, Tesla displayed such remarkable abilities to calculate mathematical problems that teachers accused him of cheating. During his teen years, he fell seriously ill, recovering once his father abandoned his demand that Nikola become a priest and agreed he could attend engineering school instead.
</p>
</div>
</header>